body{
  /* 余白を１度なくす */
  margin: 0;
  font-size: 16px;
  font-family: Verdana , sans-serif;
  color: #333333;

}


header{
  background-color: #f59a00;
  color: #ffffff;
  text-align: center;
  padding-top: 64px;
}

header h1,
header P{
  margin: 0;   /* 余白を１度なくす */
}
header img{
  width: 280px;
  /* ベースラインを基準に配置されるため余白ができてしまう */
  /* 画像の下に余白を消す事が出来る*/
  vertical-align: bottom;
}

.btn{
  text-decoration: none;   /* リンク下の下線を消す */
  background: #ffffff;   /* ボタンの色 */
  color: #f59a00;
  display: block;    /* インライン要素を横並びでなく縦に並べるには */
  width: 140px;       /*幅*/
  line-height: 44px;  /*行の高さ*/
  margin: 40px auto 48px;   /*ボタンの配置指定 */
  font-size: 14px;
  font-weight: bold;   /* 太字に */
  border-radius: 4%;  /* 角を丸める */
}

.btn:hover{
  /* マウスをホバーした時に要素の透明度を変える */
  opacity: 0.9
}

.features img{
  width: 100%;
}

.features > h1{   /*features直下のh1のみ変更には > を使用する*/
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.features .container{
  margin: 0 32px;
}

.features p{
  line-height: 1.8;
}

.features section{
  padding-bottom: 64px;
}